*{ font-family: tahoma; background-color: black; color: #00BF1A; }

span{ background-color: transparent; }
span.error{ color: red; font-weight: bold; }

a{ text-decoration: none; color: #007F11; }
a:hover{text-decoration: none; color: #3FFF59;}

h3{ font-size: 1.1em; text-align:center; border-bottom: 3px solid #00BF1A; }
h4.footer { clear: both; border-top: 1px solid  #00BF1A; font-size: .6em; text-align: center; font-weight: normal; }

fieldset{ border: 1px solid #00BF1A; font-size: .9em; }
fieldset div.textarea{ border: 1px dotted #00BF1A; width: 100%; font-size: .7em; height: 150px; line-height: .95em; overflow-x: hidden; overflow-y: auto;}
fieldset div.textarea pre{ margin: 0; }
fieldset.loading{ display: none; height: 0px; }

legend{ font-weight: bold; font-size: 12px; }
legend a{ font-weight: bold; font-size: 14px; }

img.reload-indicator{ visibility: hidden; }

div.main{ overflow: auto; }

div.result table{ border: 1px dotted #00BF1A; border-collapse: collapse; font-size: .6em; width: 100%; }
div.result table th,
div.result table td{ border: 1px dotted #00BF1A; padding: 0 2px; background-color: transparent; }
div.result table td.graph{ padding: 0px; background-image: url('./images/grid-both.png'); width: 191px; }

/* mine */
.pane{ border: 1px dotted #00BF1A; }
.pane table td{ padding: 2px 3px; margin: 0 }
.pane table td{ line-height: .9em; }

.pane table{ margin: 4px 0; width: 100%; background: transparent; }
.pane table.data tr.odd td{ background-color: #222; }

.pane .align-right{ text-align: right;}

.pane #output { height: 300px; overflow-y: scroll; }
.pane #output *{ font-family: monospace; margin: 0;}
.pane #output .executing{ color: yellow; font-style: italic }
.pane #output .done{ color: inherit; font-style: inherit }