body{ font-family: tahoma; background-color: black; color: #00BF1A; }

.pane{ border: 1px dotted #00BF1A; }
.pane table td{ padding: 2px 3px; margin: 0 }
.pane table td{ line-height: .9em; }

.pane table{ margin: 4px 0; width: 100%; background: transparent; }
.pane table.data tr.odd td{ background-color: #222; }

.pane .align-right{ text-align: right;}

.pane #output { height: 300px; overflow-y: scroll; }
.pane #output *{ font-family: monospace; margin: 0;}
.pane #output .executing{ color: yellow; font-style: italic }
.pane #output .done{ color: inherit; font-style: inherit }
.pane #output p{ line-height: 11px; }

.pane form{ margin: 0 }
.pane form fieldset{ border: none; border-bottom: 1px dotted #00BF1A; font-size: .9em; }
.pane form fieldset input{ margin: 0; border: none; color: inherit; background-color: transparent; }
.pane form fieldset input.hidden{ display: none; }
.pane form.singleline fieldset input.span-8{ width: 78.4%; display: inline; }
.pane form.singleline fieldset input.span-2{ width: 19.6%; display: inline; }

.pane span.cronnable-url{ cursor: pointer; opacity: .8; }
.pane span.cronnable-url:hover{ opacity: 1; }

.pane em.gray{ opacity: .5; }

.pane #error-icon{ display: none; }